/* .section {
    margin:0 auto;
    max-width: 1290px;
    width: 100%;
} */
.banner {
    height: 70vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.banner:before {
    content:'';
    background:linear-gradient(to top, black, transparent);
    position: absolute;
    left:0;
    height:70vh;
    width:100%;
}
.banner-text-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 100%;
    padding: 2rem;
}   
.banner-text-area > * {
    z-index: 2;
}
.overview {
    width: 36%;
}
@media screen and (max-width: 768px) {
    .overview {
        width: 50%;
    }
    
}