.root {
    position: relative;
}
.nav-container {
    background-color: #2C292A;
}
.search {
    background-color: rgb(128, 128, 128, 0.5) !important;
}
.search::placeholder {
    color: white !important;
}
.navbar-toggler-icon {
    filter: invert(1);
}