.noto-bold {
    font-family: "NotoSansBold";
}
.noto-extra-bold {
    font-family: "NotoSansExtraBold";
}
.noto-extra-light {
    font-family: "NotoSansExtraLight";
}
.noto-light {
    font-family: "NotoSansLight";
}
.noto-medium {
    font-family: "NotoSansMedium";
}
.noto-regular {
    font-family: "NotoSansRegular";
}
.noto-semi-bold {
    font-family: "NotoSansSemiBold";
}