body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  position: relative;
}

@font-face {
  font-family: 'NotoSansBold';
  src: url('./fonts/NotoSans/NotoSansKR-Bold.ttf');
}
@font-face {
  font-family: 'NotoSansExtraBold';
  src: url('./fonts/NotoSans/NotoSansKR-ExtraBold.ttf');
}
@font-face {
  font-family: 'NotoSansExtraLight';
  src: url('./fonts/NotoSans/NotoSansKR-ExtraLight.ttf');
}
@font-face {
  font-family: 'NotoSansLight';
  src: url('./fonts/NotoSans/NotoSansKR-Light.ttf');
}
@font-face {
  font-family: 'NotoSansMedium';
  src: url('./fonts/NotoSans/NotoSansKR-Medium.ttf');
}
@font-face {
  font-family: 'NotoSansRegular';
  src: url('./fonts/NotoSans/NotoSansKR-Regular.ttf');
}
@font-face {
  font-family: 'NotoSansSemiBold';
  src: url('./fonts/NotoSans/NotoSansKR-SemiBold.ttf');
}